{
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "printWidth": 120,
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "endOfLine": "lf",
    "useTabs": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "quoteProps": "as-needed",
    "embeddedLanguageFormatting": "auto",
    "overrides": [
        {
            "files": ["*.json", "*.md"],
            "options": {
                "tabWidth": 2,
                "useTabs": false
            }
        }
    ]
}
